<mat-card class="card">
  <mat-card-title>{{request?.nameClient}}</mat-card-title>
  <mat-card-subtitle><p> LANCHE: </p>{{request?.namSnack}}:{{request?.idRequest}} </mat-card-subtitle>
  <mat-card-content>
   <p>FORMA DE PAGAMENTO: {{request?.payment}}</p>
   <p>Valor UNI: {{request?.price}}</p>
   <p>QUANTIDADE: {{request?.amount}}</p>
   <p>DATA DO PEDIDO: {{request?.dat}}</p>
   <p>ENDEREÇO: {{request?.address}}</p>

   <br>
    <button mat-raised-button color="primary" (click)="remove(request?.idRequest)">Pronto</button>
    <button mat-raised-button color="primary"(click)="remove(request?.idRequest)">Cancelar</button>
   </mat-card-content>
</mat-card>

